@import url(https://fonts.googleapis.com/css?family=Play);

body {
    background-color: #19273c;
    color: white;
    
}

button {
    border-style: none;
    background-color: rgb(75,117,155);
    color: white;
    width: 33.333333333333%;
    height: 33.333333333333%;
}

button:hover {
    background-color: rgb(55,97,135);
}

button:active {
    background-color: rgb(30,72,110);
}

button:focus {
    outline: 0;
}


main {
    font-family: 'Play', sans-serif;
    font-size: 500%;
    margin: auto;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(64,64,64,0.2);
    width: 300px;
    height: 300px;
}

#up {
    position: absolute;
    top: 0;
    left: 33.33333333333333%;
}

#down {
    position: absolute;
    top: 66.66666666666%;
    left: 33.3333333333333%;
}

#fire {
    position: absolute;
    top: 33.333333333333%;
    left: 33.33333333333%;
}

#left {
    position: absolute;
    top: 33.3333333333333333%;
    left: 0;
}

#right {
    position: absolute;
    top: 33.333333333333333%;
    left: 66.66666666666666%;
}